<div class="container">
  <div class="row">
    <div class="col-sm-12 content-center">
      <h3 class="padding-bottom-40">Ingresos</h3>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <img src="<%= global.folderName %>assets/images/transparency/transparencia-2019-1.png" alt="Gráfica con el origen de los ingresos de CIECODE en 2019" class="padding-bottom-40">
        </div>
        <div class="col-sm-8 offset-sm-2">
          <img src="<%= global.folderName %>assets/images/transparency/transparencia-2019-2.png" alt="Gráfica con los donantes y financiadores de CIECODE en 2019" class="padding-bottom-40">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-hover table-condensed">
            <thead><tr><th title="Field #1">Línea de Trabajo</th>
                <th title="Field #2">Donantes/Financiadores</th>
                <th title="Field #3">Tipo de entidad</th>
                <th title="Field #4">Montos (IVA incluído)</th>
              </tr></thead>
              <tbody><tr>
                  <td>Formación y sensibilización</td>
                  <td>Associació d&#39;Arxivers Gestors de Documents</td>
                  <td>Sociedad Civil</td>
                  <td>110,00€</td>
                </tr>
                <tr>
                  <td>Monitoreo y acceso a la información</td>
                  <td>Universidad Politécnica de Valencia</td>
                  <td>Academia</td>
                  <td>436,55€</td>
                </tr>
                <tr>
                  <td>Formación y sensibilización</td>
                  <td>Red de ONGD de Madrid</td>
                  <td>Sociedad Civil</td>
                  <td>1.000,00€</td>
                </tr>
                <tr>
                  <td>Formación y sensibilización</td>
                  <td>Universidad Pontificia de Comillas</td>
                  <td>Academia</td>
                  <td>1.639,48€</td>
                </tr>
                <tr>
                  <td>Formación y sensibilización</td>
                  <td>Generalitat de Catalunya</td>
                  <td>Sector Público</td>
                  <td>1.767,18€</td>
                </tr>
                <tr>
                  <td>Monitoreo y acceso a la información</td>
                  <td>GONG</td>
                  <td>Sociedad Civil</td>
                  <td>1.800,00€</td>
                </tr>
                <tr>
                  <td>Monitoreo y acceso a la información</td>
                  <td>FIIAPP</td>
                  <td>Sector Público</td>
                  <td>4.000,00€</td>
                </tr>
                <tr>
                  <td>Formación y sensibilización</td>
                  <td>FUNCAS</td>
                  <td>Sociedad Civil</td>
                  <td>6.000,00€</td>
                </tr>
                <tr>
                  <td>Monitoreo y acceso a la información</td>
                  <td>Greenpeace</td>
                  <td>Sociedad Civil</td>
                  <td>6.313,00€</td>
                </tr>
                <tr>
                  <td>Investigación</td>
                  <td>Center for Global Development</td>
                  <td>Sociedad Civil</td>
                  <td>6.850,00€</td>
                </tr>
                <tr>
                  <td>Formación y sensibilización</td>
                  <td>AECID - CSS</td>
                  <td>Sector Público</td>
                  <td>7.485,50€</td>
                </tr>
                <tr>
                  <td>Monitoreo y acceso a la información</td>
                  <td>Poletika</td>
                  <td>Sociedad Civil</td>
                  <td>8.747,90€</td>
                </tr>
                <tr>
                  <td>Monitoreo y acceso a la información</td>
                  <td>ActuaTech</td>
                  <td>Sector Público</td>
                  <td>15.000,00€</td>
                </tr>
                <tr>
                  <td>Monitoreo y acceso a la información</td>
                  <td>Open Society Foundations</td>
                  <td>Sociedad Civil</td>
                  <td>17.627,40€</td>
                </tr>
                <tr>
                  <td>Monitoreo y acceso a la información</td>
                  <td>MAUC - Ministerio de Asuntos Exteriores, Unión Europea y Cooperación de España </td>
                  <td>Sector Público</td>
                  <td>37.200,00€</td>
                </tr>
                <tr>
                  <td colspan="3"><b>TOTAL</b></td>
                  <td><b>115.997,01€</b></td>
                </tr>
              </tbody></table>

        </div>
      </div>
    </div>
  </div>
</div>
