<script type="text/javascript">
  function launchA() {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= global.GAnalytics.trackingID %>', '<%= global.GAnalytics.url %>');
    ga('require', 'linkid', 'linkid.js');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  }
(function(){
  if(window.localStorage['ga-consent'] == "1") {
    launchA();
  } else if(window.localStorage['ga-consent'] == "opt-out") {
    console.log("You won't find G-Analytics here")
  } else {
    // Ask for it
    let d = document.createElement('div')
    d.className = "footer-tab"
    d.innerHTML = "<p style='text-align:center;'>Usamos Google Analytics para conocer el impacto de nuestros proyecto e investigaciones en el ecosistema digital, con el objetivo de seguir mejorando y adaptándonos a un mundo cada vez más cambiante. Con este formulario te solicitamos tu consentimiento de uso.<p><p id=\"cbtn\"></p>"

    if(navigator.doNotTrack == "1") {
      d.innerHTML = "<p>You have enabled Do Not Track in your browser. Google Analytics won't be loaded on this page unless you opt-in.</p>"
    }

    let acceptBtn = document.createElement('button')
    acceptBtn.addEventListener('click', function(e) { e.preventDefault(); window.localStorage['ga-consent'] = '1'; launchA(); document.body.removeChild(d) })
    acceptBtn.innerHTML = "Acepto"
    acceptBtn.className = 'xs-btn btn-green'
    acceptBtn.style.color = "#000000"
    acceptBtn.style.marginRight = "5px"
    acceptBtn.style.marginBottom = "10px"
    acceptBtn.style.cursor = 'pointer'
    let denyBtn = document.createElement('a')
    denyBtn.addEventListener('click', function(e) { e.preventDefault(); window.localStorage['ga-consent'] = 'opt-out'; document.body.removeChild(d) })
    denyBtn.innerHTML = "Prefiero que no"
    denyBtn.style.cursor = 'pointer'
    denyBtn.style.marginLeft = "5px"
    denyBtn.style.marginBottom = "10px"
    let z = document.createElement('div')
    z.style.textAlign = "center"
    z.appendChild(acceptBtn)
    z.appendChild(denyBtn)
    d.appendChild(z)
    d.style.padding = "10px"
    d.style.display = "block"
    d.style.position = "fixed"
    d.style.background = "#031111"
    d.style.color = "#ffffff"
    d.style.bottom = "0"
    d.style.left = 0
    d.style.right = 0
    d.style.paddingLeft = "25px"
    d.style.paddingRight = "25px"
    d.style.zIndex = "9999"
    document.body.appendChild(d)
  }
})()
</script>
