<div class="modal xs-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="fundpress-tab-nav-v5">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#donate" role="tab" data-toggle="tab">
              Haz una donación
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#donatemoreinfo" role="tab" data-toggle="tab">
              Más información
            </a>
          </li>
        </ul>
      </div><!-- fundpress-tab-nav-v3 -->
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fadeInRights show fade in active" id="donate">
          <div class="div text-center">
            <% include thankyou-svg %> 
          </div>
          <p>Envía tu donación a través de transferencia bancaria a nuestro número de cuenta:</p>
          <pre>ES12 2038 1119 0460 0068 1175</pre>
          <p>No olvides especificar el concepto <strong>Donación</strong> y, en el caso de que quieras concretar, el proyecto de CIECODE para el que te gustaría que fuese tu contribución.</p>
        </div><!-- tab-pane -->
        <div role="tabpanel" class="tab-pane fadeInRights fade" id="donatemoreinfo">
          <h5>Por qué te pedimos tu colaboración</h5>
          <p>Desde CIECODE (Fundación Salvador Soler) buscamos que todos nuestros proyectos respondan a nuestras aspiraciones de transparencia, independencia y coherencia. Para velar por ello, aspiramos a seguir financiándonos PRINCIPALMENTE a través de nuestros propios fondos y gracias a las donaciones de los ciudadanos y ciudadanas que conocen y valoran nuestro trabajo de investigación, de empoderamiento de la sociedad civil española y de acción directa en países en desarrollo.</p>
          <h5>Certificado de la donación</h5>
          <p>Para poder preparar el certificado de donación serán necesarios algunos datos, por lo que te pedimos que nos escribas a <a href="mailto:coordinacion@unmundosalvadorsoler.org">coordinacion@unmundosalvadorsoler.org</a> para poder ponernos en contacto contigo y gestionarlo.</p>
          <p>Cualquier contribución realizada por una persona física a CIECODE tiene derecho a una deducción fiscal en la cuota íntegra del IRPF del 25% del valor de la donación realizada. Las personas jurídicas podrán deducir de la cuota íntegra del Impuesto de Sociedades el 35% del valor de la donación realizada. Desde la Fundación Salvador Soler gestionaremos la donación y facilitaremos los documentos necesarios para obtener la ventaja fiscal por la contribución. Para cualquier duda o para recibir información relacionada, ponte en contacto con nosotros en <a href="mailto:coordinacion@unmundosalvadorsoler.org">coordinacion@unmundosalvadorsoler.org</a></p>
        </div><!-- tab-pane -->
      </div><!-- tab-content -->
    </div>
  </div>
</div><!-- End section -->

