<div class="div text-center">
  <% include thankyou-svg %> 
</div>
<p>Envía tu donación a través de transferencia bancaria a nuestro número de cuenta:</p>
<pre>ES12 2038 1119 0460 0068 1175</pre>
<p>No olvides especificar el concepto <strong>Donación</strong> y, en el caso de que quieras concretar, el proyecto de CIECODE para el que te gustaría que fuese tu contribución.</p>

