<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/Popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/parallax.min.js"></script>
<script src="/assets/js/jquery.easypiechart.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/scrollax.js"></script>

<script src="/assets/js/main.js"></script>
</body>
</html>

