<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>assets/images/background/common.png">
  <div class="xs-solid-overlay xs-bg-navy-blue"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white">Créditos</h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <strong>Créditos</strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main id="credits" class="xs-all-content-wrapper">
<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 xs-info-card">
        <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
          <h3 class="color-navy-blue">Imágenes</h3>
          <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
        </div>
        <ul>
          <li>Imagen de fondo de <strong>Home</strong></a> de Isofotón.</li>
          <li><a href="https://unsplash.com/photos/Evo4wmtRaPI" target="_blank">Imagen de fondo de <strong>Quiénes Somos</strong></a> de <a href="https://unsplash.com/@alexradelich" target="_blank">Alex Radelich</a>.</li>
          <li><a href="https://unsplash.com/photos/ETRPjvb0KM0" target="_blank">Imagen de <strong>Plan Estratégico</strong></a> de <a href="https://unsplash.com/@pperkins" target="_blank">Patrick Perkins</a>.</li>
          <li><a href="https://unsplash.com/photos/djb1whucfBY" target="_blank">Imagen de <strong>Transparencia</strong></a> de <a href="https://unsplash.com/@stellrweb" target="_blank">StellrWeb</a>.</li>
          <li><a href="https://unsplash.com/photos/vKVc9oFmDjM" target="_blank">Foto de <strong>Madrid</strong></a> de <a href="https://unsplash.com/@danilioneboy" target="_blank">Daniel Álvarez Sánchez Díaz</a>.</li>
          <li><a href="https://www.flickr.com/photos/sofv/8712988917/in/album-72157633093639931/" target="_blank">Foto de <strong>Huelva</strong></a> de <a href="https://www.flickr.com/photos/sofv/" target="_blank">Silvia Orduna</a>.</li>
          <li><a href="https://unsplash.com/photos/ZBjYVUDpvO4" target="_blank">Imagen de fondo de <strong>Political Watch</strong></a> de <a href="https://unsplash.com/@ferranfeixas" target="_blank">Ferran Feixas</a>.</li>
          <li><a href="https://unsplash.com/photos/f39ab9Rrx0Q" target="_blank">Imagen de fondo de <strong>Investigación</strong></a> de <a href="https://unsplash.com/@chuttersnap" target="_blank">Chuttersnap</a>.</li>
          <li>Foto de <strong>Investigación</strong></a> de Isofotón.</li>
          <li><a href="https://unsplash.com/photos/KVOtJAxULK4" target="_blank">Imagen de fondo de <strong>Análisis de la calidad democrática en España 2020</strong></a> de <a href="https://unsplash.com/@pawel_czerwinski" target="_blank">Paweł Czerwiński</a>.</li>
          <li><a href="http://www.congreso.es/portal/page/portal/Congreso/Congreso/SalaPrensa/FotonoticiasPrensa?_piref73_6374072_73_6374061_6374061.next_page=/wc/detalleFotonoticias&idFotonoticia=2761&anyo=2020&paginaBefore=1" target="_blank">Imagen de fondo de <strong>COVID-19</strong></a> de Congreso.es</a>.</li>
          <li><a href="https://unsplash.com/photos/Q8m8cLkryeo" target="_blank">Imagen de <strong>COVID-19</strong></a> de <a href="https://unsplash.com/@edwinhooper" target="_blank">Edwin Hooper</a>.</li>
          <li><a href="https://unsplash.com/photos/S-TcfjrYVKo" target="_blank">Imagen de <strong>buzón en COVID-19</strong></a> de <a href="https://unsplash.com/@bundo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Bundo Kim</a>.</li>
        </ul>
      </div>
      <div class="col-sm-6 xs-info-card">
        <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
          <h3 class="color-navy-blue">Ilustraciones</h3>
          <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
        </div>
        <ul>
          <li>Ilustraciones de <a href="https://undraw.co/illustrations" target="_blank">Undraw</a>.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 xs-info-card">
        <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
          <h3 class="color-navy-blue">Tecnología</h3>
          <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
        </div>
        <ul>
          <li><a href="https://gruntjs.com/" target="_blank">Grunt</a></li>
          <li><a href="https://www.npmjs.com/package/grunt-contrib-watch" target="_blank">Grun Watch</a></li>
          <li><a href="https://www.npmjs.com/package/grunt-contrib-copy" target="_blank">Grunt Copy</a></li>
          <li><a href="https://www.npmjs.com/package/grunt-contrib-sass" target="_blank">Grunt Sass</a></li>
          <li><a href="https://www.npmjs.com/package/grunt-ejs-static" target="_blank">Grunt EJS Static</a></li>
          <li><a href="https://www.npmjs.com/package/grunt-xml-sitemap" target="_blank">Grunt XML Sitemap</a></li>
          <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
          <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
          <li><a href="https://popper.js.org/" target="_blank">Popper</a></li>
          <li><a href="https://isotope.metafizzy.co/" target="_blank">Isotope</a></li>
          <li><a href="http://matthew.wagerfield.com/parallax/" target="_blank">Parallax</a></li>
          <li><a href="https://owlcarousel2.github.io/OwlCarousel2/" target="_blank">Owl carousel</a></li>
          <li><a href="http://iprodev.github.io/Scrollax.js/" target="_blank">Scrollax</a></li>
          <li><a href="http://dimsemenov.com/plugins/magnific-popup/" target="_blank">Magnific Popup</a></li>
          <li>y pro supuesto HTML, CSS, JS.</li>
        </ul>
      </div>
      <div class="col-sm-6 xs-info-card">
        <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
          <h3 class="color-navy-blue">Plantilla Web</h3>
          <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
        </div>
        <ul>
          <li><a href="https://themeforest.net/item/fundpress-nonprofit-charity-ngo-fundraising-startup-html5-responsive-template/21250484" target="_blank">Fundpress</a> de <a href="https://themeforest.net/user/xpeedstudio" target="_blank">Xpeed Studio</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
</main>


<% include common/footer %>

<% include common/end %>
