<section class="xs-bg fundpress-event-section xs-section-padding">
  <div class="container">
    <div class="xs-section-heading row xs-margin-0">
      <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
        <h2 class="color-navy-blue">Novedades</h2>
        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
      </div><!-- .xs-heading-title .fundpress-heading-title .xs-col-9 END -->
    </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->
    <div class="fundpress-event-wraper">
      <div class="fundpress-single-event-wraper row">
        <div class="col-md-3">
          <div class="fundpress-event-image">
            <img src="<%= global.folderName %>assets/images/webreport/analisis-calidad-democratica-espana-2020/pawel-czerwinski-KVOtJAxULK4-unsplash-thumbnail.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6 fundpress-event-details">
          <h3 class="color-white xs-post-title fundpress-post-title">Análisis sobre la calidad democrática en España</h3>
          <p>A lo largo de este documento abordaremos la situación y el abordaje de la calidad democrática en España tanto en los programas electorales como en la actividad parlamentaria de la XII y XIII legislatura.</p>
        </div>
        <div class="col-md-3">
          <div class="fundpress-btn-wraper">
            <a href="<%= global.folderName %>investigacion/webreport/analisis-calidad-democratica-espana-2020/" class="xs-btn btn text-uppercase btn-primary">Ver el informe</a>
          </div>
        </div>
      </div><!-- .fundpress-single-event-wraper END -->
    </div>
  </div>
</section>

