<% include common/start %>

<% include common/header %>


<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>/assets/images/background/morsecodeforever.png">
  <div class="xs-solid-overlay xs-bg-black"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white">Political Watch</h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="index.html" class="color-white"> Home /</a> Political Watch</li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->



<% include common/footer %>

<% include common/end %>

