<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>assets/images/background/common.png">
  <div class="xs-solid-overlay xs-bg-navy-blue"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white">Jhonathon Smith</h2>
      <p class="color-white xs-mb-20">Our mission is to empower people to unite around ideas that matter to them and together make those ideas come to life.</p>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <a href="<%= global.folderName %>quienes-somos" class="color-white">Quiénes somos /</a> <strong>Jhonathon Smith</strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main id="credits" class="xs-all-content-wrapper">
  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="row">
			<div class="col-md-7 col-sm-12 col-lg-8">
				<div class="fundpress-team-member-details-content">
					<p class="xs-mb-40 xs-content-description fundpress-content-description">Powered by curiosity, the FundPress community has helped bring more than 900,000 innovative ideas to life since 2010. Today, our group of backers is more than 20 million strong, representing 100 countries and territories. Always on the lookout for new solutions to everyday problems, our community thrives on making clever discoveries before everyone else. From live campaigns to ready-to-ship tech, curious humans rely on FundPress to find the latest innovations in tech and design.</p>
					<h3 class="medium xs-extra-css color-green xs-post-title fundpress-post-title xs-mb-20">Founded to Empower Innovation</h3>
					<p class="xs-mb-30 xs-content-description fundpress-content-description">
						Our founders were inspired to create Indiegogo based on their own experiences trying to make ideas come to life. Danae Ringelmann produced a play but couldn’t get funding to take it to the next level. Eric Schell struggled to fundraise for a Chicago theater company. Slava Rubin tried to raise funds to find a cure for Multiple Myeloma, the disease that killed his father. Then, they had an idea. They could use the internet to bring people together to empower innovation.
					</p>
					<p class="xs-mb-40 xs-content-description fundpress-content-description">
						Danae, Eric, and Slava founded FundPress in 2010 because they believed that you should choose the ideas that come to life. You and your fellow innovation seekers should get to change the world. It’s time to start discovering the next big idea.
					</p>
					<blockquote class="xs-blockquote xs-mb-0 color-white xs-extra-css xs-box-shadow xs-content-padding fundpress-blockquote xs-navy-blue-bg text-center">
						<span class="xs-blockquote-icon fundpress-blockquote-icon">
							<img src="assets/images/quote-left-2.png" alt="">
						</span>
						“ Products on FundPress are unique, more interesting. They aren’t like what I’d find on the market. They aren’t mainstream. It’s the newest tech that companies don’t even know will be popular. ”

						<div class="xs-sign">
							<img src="assets/images/signature.png" alt="">
						</div>
					</blockquote><!-- xs-blockquote xs-mb-0 color-white xs-extra-css xs-box-shadow xs-content-padding fundpress-blockquote xs-navy-blue-bg text-center -->
				</div><!-- xs-team-member-details-content fundpress-team-member-details-content -->
			</div>
			<div class="col-md-5 col-sm-12 col-lg-4">
				<div class="xs-team-member-info-details">
					<div class="xs-team-member-bio-avatar xs-box-shadow ">
						<img src="assets/images/avatar/team-single-info.jpg" alt="">
						<div class="xs-team-member-info ">
							<ul class="xs-social-list fundpress-social-list xs-social-list-v2">
								<li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a></li>
								<li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
								<li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a></li>
							</ul>
						</div><!-- xs-team-member-info  -->
					</div><!-- xs-team-member-bio-avatar xs-box-shadow  -->
					<div class="xs-item-footer xs-content-padding ">
						<div class="xs-mb-30 fundpress-team-details text-left xs-extra-css">
							<a href="#" class="color-navy-blue">
								Jhonathon Smith
							</a>
							<h5 class="color-green">Volunteer</h5>
						</div>

						<ul class="xs-list-item-icon-text">
							<li><i class="fa fa-phone color-green"></i>+09 56 43 768</li>
							<li><i class="fa fa-envelope-o color-green"></i><a href="mailto:name@yourdomain.com">name@yourdomain.com</a></li>
							<li><i class="fa fa-globe color-green"></i><a href=""> www.yourname.com</a></li>
						</ul>
					</div><!-- xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-left xs-extra-css -->
				</div><!-- xs-team-member-info-details -->
			</div>
		
      </div>
    </div>
  </section>
</main>


<% include common/footer %>

<% include common/end %>
